//
#cover-container-homepage
{
    width: 100%;
    height: 550px;

    background-image: url('../images/homepage/front.png');

    background-size: cover;
    background-position: center;

    position: absolute;

    top: -100px;
    z-index: -1;
}