@import './_var/variables.scss';
@import './_var/generics.scss';

@import './backend/images.scss';

#page_front_image
{
    @extend %extend-element-fully;
    position : absolute;

    top      : $document-page-gap-offset;

    background-size : cover;
}


/* Depended on screen size */
@media only screen and ( min-height:$tier-1 )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/256/front.png');
    }
}

@media only screen and ( min-height:$tier-2 )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/512/front.png');
    }
}


@media only screen and ( min-height:$tier-3 )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/1024/front.png');
    }
}


@media only screen and ( min-height:$tier-5 )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/2048/front.png');
    }
}

/* Anything above normal size */
@media only screen and ( min-height:1920px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/original/front.jpg');
    }
}