@import './images.scss';

#page_front_image
{
    position : absolute;

    top      : -10px;

    width       : 100%;
    height      : 100%;

    background-size : cover;
}


/* Depended on screen size */
@media only screen and ( min-width:0px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/256/front.jpg');
    }
}

@media only screen and ( min-width:257px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/512/front.jpg');
    }
}


@media only screen and ( min-width:513px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/1024/front.jpg');
    }
}


@media only screen and ( min-width:1025px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/2048/front.jpg');
    }
}

/* Anything above normal size */
@media only screen and ( min-width:1920px )
{
    #page_front_image
    {
        background-image : url('../images/covers/front/original/front.jpg');
    }
}