h1 
{
    text-transform: uppercase;
    text-align: center;
    font-family: 'verdana';
    color: #D63031;
}

h2 
{
    text-transform: uppercase;
    
    font-family: 'verdana';
}


h3 
{
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: 'verdana';
}
