.error-message-redirect
{
    border: 1px 
            solid 
            black;

    width: 50%;

    margin-left  : auto;
    margin-right : auto;

}

.error-message-redirect h1
{
    font-family : 'open sans';
    margin      : 0px;
    
}

.error-message-redirect a
{
    font-family : 'open sans';
    margin      : 0px;
    
}

.error-message-redirect p
{
    font-family: 'open sans';
    margin:0px;

}