// 
@import './containers.scss';

body 
{
    margin:0px;
    padding:0px;

    display: grid;

    grid-template-rows   : auto auto auto;
    grid-template-columns: auto;
    
    grid-gap: 16px;
}

header 
{
    height: 200px;

}

main 
{
    
    height: 200px;

}

footer
{
    
    height: 200px;

}