[submodule "sites/insight/Multimedia-1.Semester-Project-Infographic"]
	path = sites/insight/Multimedia-1.Semester-Project-Infographic
	url = https://github.com/KentMadsen/Multimedia-1.Semester-Project-Infographic.git
