footer 
{
    @extend %no-base;
    @extend %default-uppercase;

    z-index : 10;

    grid-area : auto;
}

.sponsored-by
{

    min-height  : $document-footer-sponsor-minimum-height;

    padding-top     : 8px;
    padding-bottom  : 8px;

    background-image: linear-gradient( to bottom,
                                     #fdfbfb,
                                     #ebedee );

    box-shadow: 0px 0px
                16px
                rgba( 0, 0, 0,
                        0.25 );
}

.sponsored-by p 
{
    @extend %default-uppercase;

    text-align: center;

    font-weight: bold;
    
}

.sponsored-by ol
{
    @extend %no-margin-or-padding;

    display : flex;
    justify-content : space-around;
}

.sponsored-by ol a
{
    @extend %default-link;
    opacity : $not-active-opacity;
    
    transition : $action-transition;
}

.sponsored-by ol a:hover
{
    opacity : $active-opacity;

    transition : $action-transition;
}

.sponsored-by ol a li
{
    @extend %none-list-style-type;
    display         : block;
}

.sponsored-by ol a li img
{
    transition: $action-transition;
    height : 75px;
}

.sponsored-by ol a:hover li img 
{
    transition : $action-transition;
    height : 100px;
}

.footer-content
{
    background-color: #090828;
    color           : #FFFFFF;

    font-family: 'verdana';
}

.contact-info
{

}

.contact-info p 
{
    @extend %no-margins;

    text-align : center;
}

.contact-info p a 
{
    @extend %resting;
    @extend %default-link;
}

.contact-info p a:hover
{
    @extend %activate;
}

.footer-social-links
{
    @extend %none-list-style-type;
    @extend %no-paddings;

    @extend %extend-height-fully;

    display : flex;
    
    justify-content : center;
}

.footer-social-links a 
{
    @extend %no-paddings;
    @extend %resting;

    font-size : 48px;
}

.footer-social-links a:hover
{
    @extend %activate;
}

.footer-base
{
    color : black;

    padding-top     : 8px;
    padding-bottom  : 8px;

    background-image : linear-gradient( to bottom,
                                       #fdfbfb,
                                       #ebedee );
}

.footer-base p
{
    font-size : 12px;

    text-align : center;
    
    @extend %no-margin-or-padding;
}

.footer-base ol 
{
    @extend %no-margin-or-padding;

    text-align : center;
}

.footer-base ol li 
{
    display : inline;
    @extend %none-list-style-type;
}

.footer-base ol a 
{
    @extend %default-link;
    color: black;
    
    transition : $action-transition;
    font-size : 12px;
}

.footer-base ol a:hover
{
    @extend %activate;
}

.footer-base ol a li
{
    @extend %none-list-style-type;

    display : inline;
}

.footer-social-links a li
{
    margin-top    : 8px;
    margin-bottom : 8px;

    margin-right : 16px;
    margin-left  : 16px;

    vertical-align : center;
}

.split-container
{
    @extend %no-margin-or-padding;

    display : grid;

    grid-template-rows    : auto;
    grid-template-columns : auto auto;

    grid-gap              : 16px;

    padding-top     : 16px;
    padding-bottom  : 16px;
}

.split-container li 
{
    @extend %none-list-style-type;
    grid-area : auto;

    display : block;

}



