h1
{
    @extend %default-header;
    
    text-align: center;
    color: #D63031;
}

h2
{
    @extend %default-header;
    margin-top: 8px;
}

h3
{
    @extend %default-header;
    @extend %no-margins;

    margin-top      : 8px;
    margin-bottom   : 24px;
}
