h1
{
    @extend %default-header;
    
    text-align: center;
    color: #D63031;
}

h2
{
    @extend %default-header;
    margin-top: 8px;
}

h3
{
    @extend %default-header;
    @extend %no-margins;

    margin-top      : 8px;
    margin-bottom   : 24px;
}

a h4 
{  @extend %default-header;
   @extend %no-margins;

   position: absolute;

   color: #D63031;
   
   bottom: 25%;
   
   left: 50%;

   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);

   padding : 8px;

   border-radius : 8px;
   border        : 2px solid #D63031;
   
   transition : $action-transition;
}

a:hover h4 
{
    transition : $action-transition;
    
    color            : white;
    background-color : #D63031;

    border : 2px solid rgba($color: #D63031, $alpha: 0.0);
}
