%no-margin
{
    margin: 0px;
}

header 
{
    @extend %no-base;

    background-color: white;
    text-transform: uppercase;

    font-family: $header_primary_font;

    grid-area : auto;
    display   : grid;

    grid-template-columns: auto;

    grid-template-rows: 15px 
                        auto;
    
    grid-gap: 0px;
    
    background-image: linear-gradient( to bottom,
                                       #fdfbfb,
                                       #ebedee );

    box-shadow: 0px 6px
                16px
                rgba( 0, 0, 0,
                        0.25 );

    z-index: 10;
}

/* 
    Navigation
*/
header nav 
{

}

/* 
    'As link list'
*/
header nav ul 
{
    @extend %no-margin;

    height: 36px;

    padding: 0px;
    margin-top: 8px;

    display: flex;
    
    justify-content: space-around;
}

header nav ul a li 
{
    display: block;

}

#header-logo
{
    position: relative;

    width  : 75px;
    height : 75px;
}

#header-logo img
{
    @extend %extend-element-fully;
    
    position: absolute;

    top: -20px;
}

#header-navigation-color
{
    background-color: #090828;
    color: #FFFFFF;

    height: 36px;
}

/*
    As links in the header
*/
header nav ul a 
{
   @extend %action-button;
   
   color: $link-rest-color;
   text-decoration: none;
    
   list-style-type: none;

   margin-left: 18px;
   margin-right: 18px;

   font-family: 'verdana';
}

header nav ul a:hover
{
   @extend %action-button;
   color: $link-active-color;
}
