$action-transition : 0.75s;

%activate
{
    transition: $action-transition;
    color: #D63031 !important;

}

%rest
{
    transition: $action-transition;
    text-decoration: none;
    color:white;
}

//
.facebook:hover
{
    color:#3b5998;
}

.instagram:hover
{
    color:#D63031;
}

.twitter:hover
{
    color: #00aced;
}

.youtube:hover
{
    color:#cc181e;
}
