.container-area-3
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 16px;
}

.container-area
{
    margin: 0px;
    padding:0px;

    grid-area: auto;
}

.cover-container
{
    border:1px solid black;

    background-color: gray;
}

@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
    .container-area-3
    {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

  }