.container-area-3
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 16px;
}

.container-area
{
    margin: 0px;
    padding:0px;

    grid-area: auto;
}

.cover-container
{
    background-color: gray;
    
    width: 100%;
    height: 450px;

}

.container-short-description
{
    width: 200px;
    height: 200px;
    
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
    .container-area-3
    {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

  }