.container-area-3
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 16px;
}

.container-area
{
    margin: 0px;
    padding:0px;

    grid-area: auto;
}

.cover-container
{
    background-color: gray;
    
    width: 100%;
    height: 450px;

}

.container-short-description
{
    width: 300px;

    margin-right: auto;
    margin-left: auto;
    
}

.container-short-description p 
{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
}

.area 
{
    margin: 0px;
    padding: 0px;

    margin-top: 32px;
    margin-bottom: 32px;
}

.cooperation
{
    margin: 0px;
    height: 0px;

    height: 100px;
    width: 100%;
}

.cooperation ul 
{
    display: flex;
    padding:0px;
    margin:0px;

    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.cooperation ul a 
{
    color: black;
    text-decoration: none;
    margin: 0px;
    padding:0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center
{
    display: block;
    position: relative;
    height: 100%;
    width: 15%;
}

.cooperation ul a li 
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.cooperation ul a li img 
{
    width: 100%;
    height: auto;
}

.container-short-description i 
{
    margin-top: 16px;
    margin-bottom: 16px;
    
    color: #D63031;

    font-size: 80px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
    .container-area-3
    {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

  }