%not-selecteble
{
  /* Chrome all / Safari all */
  -webkit-user-select: none;  
  
  /* Firefox all */
  -moz-user-select: none;
  
  /* IE 10+ */
  -ms-user-select: none;

  /* Likely future */
  user-select: none;          
};

%no-margin
{
  margin  : 0px;
}

%no-margin-or-padding
{
  @extend %no-margin;
  padding : 0px;
}

%extend-width
{
  width: 100%;
}

%extend-fully
{
  @extend %extend-width;
  
  height: 100%;
}