a h4 
{  
   @extend %default-header;
   @extend %no-margins;
   @extend %resting;

   position: absolute;
   
   bottom: 25%;
   
   left: 50%;

   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);

   padding : 8px;

   border-radius : 8px;
   border        : 2px solid white;


   
}

a:hover h4 
{
    @extend %activate;

    border : 2px solid rgba( $color: #D63031,
                             $alpha: 1.0 );

    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.space-container
{
    @extend %extend-width-fully;
    
    height : 628px;
}

.image-cover-container
{
    @extend %extend-element-fully;
    
    position : relative;
    
    background-size : cover;
}

.image-cover-container img
{
    @extend %extend-width-fully;
    
    position : absolute;
    top      : -60px;
    
    z-index : -1;

    height : auto;
}

.unknown-area
{

}

main section 
{
    margin-top   : 16px;
    
    margin-left  : 25px;
    margin-right : 25px;
}

.container-area
{
    display : grid;
    
    grid-template-rows    : auto;
    grid-template-columns : 1fr 1fr 1fr 1fr;

    grid-gap              : 8px;
}

.contained
{
    grid-area : auto;
}

.area
{
    margin-left  : 4px;
    margin-right : 4px;
}

.area img
{
    @extend %extend-width-fully;
    
}

.bold
{
    font-weight: bold;
}