.space-container
{
    @extend %extend-width-fully;
    
    height : 725px;
}


.image-cover-container
{
    @extend %extend-element-fully;
    
    position : relative;
    
    background-size : cover;
}

.image-cover-container img
{
    @extend %extend-width-fully;
    
    position : absolute;
    top      : -60px;
    
    z-index : -1;

    height : auto;
}

.unknown-area
{

}

main section 
{
    
    margin-left  : 25px;
    margin-right : 25px;
    margin-top   : 16px;
}

.container-area
{
    display : grid;
    
    grid-template-rows    : auto;
    grid-template-columns : 1fr 1fr 1fr 1fr;

    grid-gap              : 8px;
}

.contained
{
    grid-area : auto;
}

.area
{
    margin-left  : 4px;
    margin-right : 4px;
}

.area img
{
    @extend %extend-width-fully;
    
}


.bold
{
    font-weight: bold;
}