.information-container
{
    @extend %no-margin-or-padding;
 
    margin-top  : 32px;

    display : grid;
    
    grid-gap              : 32px;

    grid-template-rows    : 1fr;
    grid-template-columns : 1fr 1fr;
}

.information-container img
{
    grid-area : information_img;

}

.information-container span 
{
    grid-area  : information_text;
    
    text-align : center;

    word-spacing : 1.5px;

    padding-left  : 16px;
    padding-right : 16px;
}

.image-to-left
{
    grid-template-areas : "information_img information_text";

}

.image-to-right
{
    grid-template-areas : "information_text information_img";

}

p 
{
    font-family : 'verdana';
}