.login-page
{
    width : 400px;

    margin-left  : auto;
    margin-right : auto;
    
    text-transform : uppercase;
}

.login-page img
{
    width  : 100%;
    height : 100%;
}

.image-container-center
{
    width  : 145px;
    height : 145px;

    margin-left  : auto;
    margin-right : auto;
}

.login-page a
{
    color : #D63031;

    text-decoration : none;
    text-align      : center;
}

.login-page form input
{
    width : 250px;

    margin-left  : auto;
    margin-right : auto;
}

.center-form-button
{
    width : 265px;

    margin-left  : auto;
    margin-right : auto;
    margin-top   : 8px;
}

.login-misc
{

}

.login-misc a
{
    
    margin  : 0px;
    padding : 0px;
}

.login-misc a p 
{
    text-transform : uppercase;

    font-size : 12px;
    
    margin  : 0px;
    padding : 0px;
}