%no-margins
{
    margin  : 0px;
}

%no-paddings
{
    padding : 0px;
}

%no-margin-or-padding
{
    @extend %no-margins;
    @extend %no-paddings;
}

%no-base
{
    @extend %no-margin-or-padding;

    width   : 100%;
}

%extend-height-fully
{
    height: 100%;
}

%extend-width-fully
{
    width: 100%;
}

%extend-element-fully
{
    @extend %extend-width-fully;
    @extend %extend-height-fully;
}

%document-container-front
{
    z-index: 10;
}

/* 
    Text Generics
*/
%default-uppercase
{
    text-transform: uppercase;
}

%default-header
{
    @extend %default-uppercase;
    font-family: $primary_font;
}

%default-paragraph
{
    font-family: $secondary_font;
}

@import './_animated.scss';