$nn : none;
$phundred : 100%;

%no-margins
{
    margin  : 0px;
}

%no-paddings
{
    padding : 0px;
}

%no-margin-or-padding
{
    @extend %no-margins;
    @extend %no-paddings;
}

%extend-height-fully
{
    height: $phundred;
}

%extend-width-fully
{
    width: $phundred;
}

//
%no-base
{
    @extend %no-margin-or-padding;
    @extend %extend-width-fully;
}

// Expand width and height to 100%
%extend-element-fully
{
    @extend %extend-width-fully;
    @extend %extend-height-fully;
}

%document-container-front
{
    z-index: 10;
}

%none-list-style-type
{
    list-style-type: $nn;
}

/* 
    Text Generics
*/
%default-uppercase
{
    text-transform : uppercase;
}

%default-header
{
    @extend %default-uppercase;
    font-family : $primary_font;
}

%default-paragraph
{
    font-family : $secondary_font;
}

@import './_animated.scss';