$action-transition : 0.75s;

$primary_font: Verdana, Geneva, Tahoma, sans-serif;

$secondary_font: 'open sans';

$header_primary_font: 'open sans';

//
$not-active-opacity : 0.25;
$active-opacity     : 1.00;

//
$document-page-gap        : 32px;
$document-page-gap-offset : -32px;

//
$document-main-minimum-height : 450px;

$document-footer-sponsor-minimum-height:175px;

$link-rest-color: white;
$link-default-rest-color:black;

$link-active-color: #D63031;

$tier-1     : 1px;
$tier-2     : 257px;
$tier-3     : 513px;
$tier-4     : 726px;
$tier-5     : 1025px;
$tier-6     : 1281px;
$tier-7     : 1537px;
$tier-8     : 1793px;
$tier-9     : 2049px;
